<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>在 Stylotrace 中修改</string>
			</dict>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSReceiveTypes</key>
			<array>
				<string>public.text</string>
			</array>
			<key>NSSendFileTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
